@model LTWebBanDT.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="card">
            <div class="card-body">

                <div class="row">
                    <aside class="col-lg col-md-3 flex-lg-grow-0">
                        <h6>Danh mục</h6>
                        <nav class="nav-home-aside">
                            <ul class="menu-category">
                                @foreach (var item in Model.ListCategory)
                                {
                                    <li>
                                        @Html.ActionLink(item.Name, "ProductCategory", "Category", new { @Id = item.Id }, null)
                                    </li>
                                }

                            </ul>
                        </nav>
                    </aside> <!-- col.// -->
                    <div class="col-md-9 col-xl-7 col-lg-7">

                        <!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
                        <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="1"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/images/banners/slide1.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/slide2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/slide3.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Trang trước</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Tiếp theo</span>
                            </a>
                        </div>
                        <!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->

                    </div> <!-- col.// -->
                    <div class="col-md d-none d-lg-block flex-grow-1">
                        <aside class="special-home-right">
                            <h6 class="bg-blue text-center text-white mb-0 p-2">Sản phẩm phổ biến</h6>

                            <div class="card-banner border-bottom">
                                <div class="py-3" style="width:80%">
                                    <h6 class="card-title">Điện thoại</h6>
                                    <a href="~/Product/Detail/5" class="btn btn-secondary btn-sm"> Xem ngay </a>
                                </div>
                                <img src="~/Content/images/items/iphone122.png" height="80" class="img-bg">
                            </div>
                            <div class="card-banner border-bottom">
                                <div class="py-3" style="width:80%">
                                    <h6 class="card-title">Laptop</h6>
                                    <a href="#" class="btn btn-secondary btn-sm"> Xem ngay </a>
                                </div>
                                <img src="~/Content/images/items/laptop.jfif" height="80" class="img-bg">
                            </div>
                            <div class="card-banner border-bottom">
                                <div class="py-3" style="width:80%">
                                    <h6 class="card-title">Máy tính bảng</h6>
                                    <a href="#" class="btn btn-secondary btn-sm"> Xem ngay </a>
                                </div>
                                <img src="~/Content/images/items/ipad.jfif" height="80" class="img-bg">
                            </div>

                        </aside>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    <!-- =============== SECTION DEAL =============== -->
    <section class="padding-bottom">
        <div class="card card-deal">
            <div class="col-heading content-body">
                <header class="section-heading">
                    <h3 class="section-title">Giảm giá sốc</h3>
                    <p>Giảm giá trong thời gian</p>
                </header><!-- sect-heading -->
                <div class="timer">
                    <div> <span class="num">04</span> <small>Ngày</small></div>
                    <div> <span class="num">12</span> <small>Giờ</small></div>
                    <div> <span class="num">58</span> <small>Phút</small></div>
                    <div> <span class="num">02</span> <small>Giây</small></div>
                </div>
            </div> <!-- col.// -->
            <div class="row no-gutters items-wrap">
                @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 1).Take(3))
                {
                    <div class="col-md col-6">
                        <figure class="card-product-grid card-sm">
                            <a href="@Url.Action("Detail", "Product", new { Id = item.Id })" class="img-wrap">
                                <img src="~/Content/images/items/@item.Avartar">
                            </a>
                            <div class="text-wrap p-3">
                                @*<a href="#" class="title">@item.Name</a>*@
                                @Html.ActionLink(item.Name, "Detail","Product", new { Id = item.Id }, null)
                                <span class="badge badge-danger"> -20% </span>
                            </div>
                        </figure>
                    </div> <!-- col.// -->
                }
            </div>
        </div>

    </section>
    <!-- =============== SECTION DEAL // END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Apple</h4>
        </header>
        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Iphone đang đứng trong top xu hướng được săn đón</h5>
                        <p>Những chiếc Iphone rất mạnh mẽ, hiện đại và sang trọng. </p>
                        <a href="~/Category/ProductCategory/1" class="btn btn-outline-primary rounded-pill">Xem ngay</a>
                        <img src="~/Content/images/items/iphone13.png" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 1))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="~/Product/Detail/@item.Id" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Chiếc điện thoại mạnh mẽ và cá tính thể thao dành cho mọi người  </h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avartar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                        
                        
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Samsung</h4>
        </header>
        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Điện thoại Samsung thời thượng và khí thế</h5>
                        <p>Samsung luôn mang lại cho người dùng cảm giác cầm rất là đã với màn hình to và mạnh mẽ. </p>
                        <a href="~/Category/ProductCategory/1" class="btn btn-outline-primary rounded-pill">Xem ngay</a>
                        <img src="~/Content/images/items/samsungzflip4.png" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 2))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="~/Product/Detail/@item.Id" class="item">
                                    <div class="card-body">
                                        <h6 class="title">Những chiếc Samsung luôn được mọi người săn đón  </h6>
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avartar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    <!-- =============== SECTION REQUEST =============== -->

    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Đặt câu hỏi để liên hệ ngay</h4>
        </header>

        <div class="row">
            <div class="col-md-8">
                <div class="card-banner banner-quote overlay-gradient" style="background-image: url('~/Content/images/banners/banner9.jpg');">
                    <div class="card-img-overlay white">
                        <h3 class="card-title">Sẽ thật là dễ dàng nếu bạn có thắc mắc và cần chúng tôi giải đáp</h3>
                        <p class="card-text" style="max-width: 400px">
                            Thật tuyệt vời khi chúng tôi sẵn sàng phục vụ bạn
                        </p>
                        <a href="" class="btn btn-primary rounded-pill">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div> <!-- col // -->
            <div class="col-md-4">

                <div class="card card-body">
                    <h4 class="title py-3">Một yêu cầu, ngàn vấn đáp</h4>
                    <form>
                        <div class="form-group">
                            <input class="form-control" name="" placeholder="Bạn có thắc mắc gì không?" type="text">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Số lượng" name="" type="text">

                                <select class="custom-select form-control">
                                    <option>Sản phẩm</option>
                                    <option>Giá tiền</option>
                                    <option>Giao hàng</option>
                                    <option>Bảo hành - đổi trả</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group text-muted">
                            <p>Hãy chọn kiểu trả lời:</p>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <div class="form-check-label">Yêu cầu trả giá</div>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option2">
                                <div class="form-check-label">Yêu cầu sản phẩm</div>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning">Gửi yêu cầu</button>
                        </div>
                    </form>
                </div>

            </div> <!-- col // -->
        </div> <!-- row // -->
    </section>

    <!-- =============== SECTION REQUEST .//END =============== -->
    <!-- =============== SECTION ITEMS =============== -->
    <section class="padding-bottom-sm">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Sản phẩm để xuất</h4>
        </header>

        <div class="row row-sm">
            @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 2).Take(6))
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div href="#" class="card card-sm card-product-grid">
                        <a href="~/Product/Detail/@item.Id" class="img-wrap"> <img src="~/Content/images/items/@item.Avartar"> </a>
                        <figcaption class="info-wrap">
                            <a href="~/Product/Detail/@item.Id" class="title">@item.Name</a>
                            <div class="price mt-1">@item.Price</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            }


        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION ITEMS .//END =============== -->
    <!-- =============== SECTION SERVICES =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Giao lưu - hàng hóa</h4>
        </header>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/1.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Giao lưu với mọi người</h6>
                        <p class="small text-uppercase text-muted">Gọi đồ ăn</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Đặt hàng nhanh chóng</h6>
                        <p class="small text-uppercase text-muted">Thanh toán qua điện thoại</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Kiểm tra hàng hóa</h6>
                        <p class="small text-uppercase text-muted">Dẽ dàng kiểm hàng</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/4.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Vận chuyển bằng đường hàng không và đường biển</h6>
                        <p class="small text-uppercase text-muted">Vận chuyển hàng hóa</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->

    </section>
    <!-- =============== SECTION SERVICES .//END =============== -->
    <!-- =============== SECTION REGION =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Chọn quốc gia</h4>
        </header>

        <ul class="row mt-4">
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/CN.png"> <span>Trung Quốc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/DE.png"> <span>Đức</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/AU.png"> <span>Úc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/RU.png"> <span>Nga</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/IN.png"> <span>Ấn độ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/GB.png"> <span>Anh</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/TR.png"> <span>Thổ Nhĩ Kỳ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/UZ.png"> <span>Uzbekistan</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <i class="mr-3 fa fa-ellipsis-h"></i> <span>Các nước khác</span> </a></li>
        </ul>
    </section>
    <!-- =============== SECTION REGION .//END =============== -->

    <article class="my-4">
        <img src="~/Content/images/banners/ad-sm.png" class="w-100">
    </article>
</div>
<!-- container end.// -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="section-subscribe padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center text-white">Hãy để lại Email để nhận được thông tin khuyến mãi</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <form class="form-row">
                    <div class="col-md-8 col-7">
                        <input class="form-control border-0" placeholder="Email của bạn" type="email">
                    </div> <!-- col.// -->
                    <div class="col-md-4 col-5">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50">Chúng tôi sẽ luôn gửi những phần quà giá trị đến Email của bạn. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
<!-- ========================= FOOTER ========================= -->